/Map_CellsV2.yaml
/Map_Cells_Output.xlsx

# IDE files
*.iml
.idea/

#Yaml files and Excel files (For data security)
*.yaml
*.xlsx
*.csv
*.xml
*.gz
*.bak
*.txt
*backup

# Streamlit secrets
DailyReportTools/.streamlit/

# Local secrets files
secrets.json
S3Automation/secrets.json
/DailyReportTools/local_config.json
local_config.json
/.streamlit/secrets.toml

#Database Saves
/Parsing Tools/GGWiki/Download 2026-07-03T20-54-29-473Z/
/Parsing Tools/GGWiki/outputImages/
